## Common Used Aliases
alias ll="ls -lah"
alias h="cd $home"
alias c="clear"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias hi="history"
alias j="jobs"
alias e='exit'
alias cla="clear && ls -l"
alias cll="clear && ls -la"
alias cls="clear && ls"
alias ea="vi ~/aliases"