home="~"

# Dev Setup
rootdevfolder="Desktop/Dev" # Your development directory
devfolder="${home}${rootdevfolder}"

# Personal info
github="githubusername" # Your github username - all lowercase, eg. "michaeljberry"
githubname="GithubUserName" # Your github username with proper capitalization, eg. "MichaelJBerry"
fullname="FirstName LastName" # Your full name with proper capitalization, eg. "Michael Berry"
emailaddress="your email address"
website="your website address"